<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add verb="GET,HEAD,POST" path="FleetManagementHandler.axd" type="FleetManagementHandler" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="SchoolHandler" preCondition="integratedMode" verb="GET,HEAD,POST" resourceType="Unspecified" path="FleetManagementHandler.axd" type="FleetManagementHandler"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="2097151" maxQueryString="30000000" maxAllowedContentLength="52428800"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
